body {
	background-image: url('/files/background-image.png');
}
/*
.navbar {
	background-color: rgb(245, 247, 249);
}*/
.h3embellish { border-bottom: solid 2px #66CC99;}
.para {font-size: 14px;}
/*.panel-default .panel-heading{ background-color: #00cb6f; color: #fff; } */
.h1heading
{
	font-size: 21pt;
	font-weight: bold;
	text-align: center;
}

.hero-and-content {
	padding-top: 100px;
	margin-bottom: 100px;
	overflow: auto;
}

footer {
	background-color: #16161D;
}

.rightspacer-10 {
	margin-right: 10px;
}

/* Bootstrap override */
/*.carousel-inner img {
	height: 300px !important;
	width: auto !important;
	margin-left: 25% !important;
	margin-right: 25% !important;
}*/
/*#the-carousel.carousel.slide {
	width: 100%;
	max-width: 400px;
	max-height: 250px;
	overflow-y: auto;
}*/
@media only screen and (min-width : 768px) {
    .is-table-row {
        display: table;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

.home-promptpanel:hover {
	border: 1px solid yellow;
	cursor: pointer;
}

/* Colours */
.bg-lightgreen {background-color: #E3FCDB;}
.txt-orange {color: #FD8142;}
.txt-deeporange {color: #E05915;}
.txt-blue {color: #0C77C3;}
.mintgreen {color: #66CC99;}
.txt-darkgreen { color: #00cb6f; }

/* Font formatting */
.italic {font-style: italic;}

.faq_question {
	font-size: 13pt;
	border-bottom: solid 1px #aaa;
	margin-bottom: 5px;
}
.faq_answer {
	font-size: 9pt;
}	