{% extends "templates/web.html" %}

{% block title %}About Us{% endblock %}
{% block page_sidebar %}
{% include "templates/pages/web_sidebar.html" %}
{% endblock %}
{% block page_content %}
<!-- no-sidebar -->
<article class="about-content">
	{{ doc.company_introduction or """<p>Some Introduction about your company that you would
			like your website visitor to know.
			More people than you think will read your About page.
			People always like to know who the are doing business with.
			Be authentic and avoid using jargon like 'value added services' etc.
			Be sure to update your company history and
			list of key team members in Website > About Us Settings</p>""" }}

	{% if doc.get({"doctype":"Company History"}) %}
	<h3>{{ doc.company_history_heading or "Company History" }}</h3>
	{% for d in doc.get({"doctype":"Company History"}) %}
	<div class="row">
		<span class="col-md-2"><h4 style="margin:0px;">{{ d.year }}</h4></span>
		<span class="col-md-10"><p>{{ d.highlight }}</p></span>
	</div>
	{% endfor %}
	{% endif %}

	{% if doc.get({"doctype":"About Us Team Member"}) %}
	<h3>{{ doc.team_members_heading or "Team Members" }}</h3>
	<div class="row" itemscope itemtype="http://schema.org/Person">
	{% for d in doc.get({"doctype":"About Us Team Member"}) %}
		<div class="col-lg-3 col-xs-12">
			<div class="well">
	            <div style="text-align: center; max-height: 150px; min-height: 150px; overflow:hidden;">
	            	{% if d.image_link %}       
	                	<img class="img-thumbnail" src="{{ d.image_link }}" itemprop="image" style="width: 150px;">
	            	{% else %}
	            		 <div class="img-thumbnail" style="background-color: #eee; height:150px; width: 150px;">
                            <i class="octicon octicon-question text-muted" style="width: 100%; margin-top: 5%"></i>
                        </div>
	            	{% endif %}
	            </div>
	             <div class="caption" style="text-align:center; padding-top: 10px;">
	                <label itemprop="name">{{ d.full_name }}</label>
	                <p itemprop="description">{{ d.bio }}</p>
	            </div>        
	        </div>
		</div>
	{% endfor %}
	</div>
	{% endif %}
	{{ doc.footer or "" }}
</article>
{% endblock %}
